src/trained_models/
src/results/
src/.vscode/
src/__pycache__/
src/NCE/__pycache__/
src/models/__pycache__/
src/tensorboards/
src/imagenet100.txt
data/*.avi
data/*/
data/*.mp4
data/train/
data/*/
.vscode/
*.pyc
